@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Bold.woff2") format("woff2"), url("../fonts/KumbhSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Medium.woff2") format("woff2"), url("../fonts/KumbhSans-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Bold.woff2") format("woff2"), url("../fonts/KumbhSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Medium.woff2") format("woff2"), url("../fonts/KumbhSans-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/*EFFECT*/
/* BREAKPOINT */
/* CUSTOM PROPS */
:root {
  --color-brown: hsl(26, 100%, 55%);
  --color-brown-opacity: hsl(25, 100%, 94%);
  --color-dark: hsl(220, 13%, 13%);
  --color-grey-dark: hsl(219, 9%, 45%);
  --color-grey-darkey: hsl(220, 14%, 75%);
  --color-grey: hsl(223, 64%, 98%);
  --color-light: hsl(25, 100%, 94%);
  /*EFFECT*/
  --transition: all 0.5s ease 0s;
  --color-primary: hsl(26, 100%, 55%);
  --container: 69.5em;
}

/* OUTLINE*/
/*
  Josh's Custom CSS Reset + some modifications
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* GLOBAL */
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 166.667%;
  color: rgba(29, 32, 37, 0.5);
  overflow-x: hidden;
  position: relative;
}

@media only screen and (max-width: 48.5em) {
  body.body-active {
    overflow: hidden;
  }
}
body.body-active::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 130%;
  left: 0;
  top: 0;
  background-color: rgba(29, 32, 37, 0.5);
}

img {
  height: auto;
}

a {
  color: var(--color-grey-darkey);
  transition: var(--transition);
  text-decoration: none;
}
a:hover {
  color: var(--color-grey-dark);
  text-decoration: none;
}
a:active {
  opacity: 0.6;
}

*:focus {
  outline: 2px dashed hsl(26, 100%, 55%);
  outline-offset: 3px;
}

/* AUTOFILL-STYLES */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: var(--color-boder);
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/* PLACEHOLDER-STYLES */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: var(--container);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

/*640*/
@media only screen and (min-width: 40em) {
  :root {
    --container-padding: 20px;
  }
}
@media only screen and (max-width: 40em) {
  :root {
    --container-padding: 24px;
  }
}
.header {
  padding-top: 20px;
  padding-bottom: 27px;
}
@media only screen and (min-width: 48.5em) {
  .header {
    padding-top: 28px;
    padding-bottom: 35px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media only screen and (min-width: 48.5em) {
  .header__container::after {
    content: "";
    position: absolute;
    bottom: -25px;
    width: 96%;
    height: 1px;
    background-color: var(--color-grey);
  }
}

.header__img-box {
  display: flex;
  position: relative;
}
.header__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__img-logo {
  margin-left: 22px;
  margin-right: 22px;
}
@media only screen and (min-width: 48.5em) {
  .header__img-logo {
    margin-left: 0;
    margin-right: 46px;
  }
}
@media only screen and (min-width: 48.5em) {
  .header__img-logo {
    width: 138px;
    height: 20px;
    cursor: pointer;
  }
  .header__img-basket {
    width: 22px;
    height: 20px;
    cursor: pointer;
  }
  .header__img-avatar {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: var(--transition);
    border-radius: 50%;
    border: 2px solid transparent;
  }
  .header__img-avatar:hover {
    border: 2px solid rgba(255, 125, 26, 0.5);
  }
}

.header__quantity {
  width: 17px;
  height: 13px;
  position: absolute;
  top: -5px;
  right: -6px;
  border-radius: 50%;
  background-color: var(--color-brown);
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__left {
  position: relative;
}

.header__right,
.header__left {
  display: flex;
  align-items: center;
}

.header__right > *:not(:last-child) {
  margin-right: 22px;
}
@media only screen and (min-width: 48.5em) {
  .header__right > *:not(:last-child) {
    margin-right: 46px;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    position: fixed;
    z-index: 5;
    left: -100%;
    top: 0;
    transition: var(--transition);
  }
}

.nav.nav-active {
  left: 0;
  width: 65%;
  height: 100%;
  background-color: #fff;
  padding-top: 96px;
  padding-left: 18px;
}

.nav__list {
  list-style: none;
  padding-left: 0;
  visibility: hidden;
  transition: var(--transition);
}
@media only screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }
  .nav__list .nav__link:hover {
    position: relative;
  }
  .nav__list .nav__link:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top: 56px;
    background-color: var(--color-brown);
  }
}
.nav__list > *:not(:last-child) {
  margin-right: 17px;
}
@media only screen and (min-width: 62em) {
  .nav__list > *:not(:last-child) {
    margin-right: 35px;
  }
}

.nav.nav-active .nav__list {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  align-items: start;
  background-color: transparent;
  visibility: visible;
}
.nav.nav-active .nav__list > *:not(:last-child) {
  margin-right: 0;
  margin-bottom: 35px;
}

.nav.nav-active .nav__link {
  color: var(--color-dark);
  font-weight: 700;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--transition);
  cursor: pointer;
}
@media only screen and (min-width: 48.5em) {
  .burger {
    display: none;
  }
}
.burger__span {
  width: 16px;
  height: 3px;
  background-color: var(--color-grey-dark);
  transition: var(--transition);
}
.burger__span:not(:last-child) {
  margin-bottom: 3px;
}

.burger.burger-active {
  z-index: 10;
}
.burger.burger-active .burger__span:nth-child(1) {
  transform: rotate(-45deg) translateY(8px);
}
.burger.burger-active .burger__span:nth-child(2) {
  transform: scale(0);
}
.burger.burger-active .burger__span:nth-child(3) {
  transform: rotate(45deg) translateY(-8px);
}

.basket-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  position: relative;
}

.sneakers-basket {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.sneakers-basket__box {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}
.sneakers-basket__box > *:not(:last-child) {
  margin-right: 18px;
}

.sneakers-basket__img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  object-fit: contain;
}

.sneakers-basket__desc {
  max-width: 213px;
}

.sneakers-basket__title,
.sneakers-basket__price,
.sneakers-basket__count {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

.sneakers-basket__total {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  color: var(--color-dark);
}

.sneakers-basket__delete {
  cursor: pointer;
}

.sneakers-basket__checkout {
  padding: 22px 121px;
  border: 1px solid var(--color-brown);
  border-radius: 10px;
  color: #fff;
  background-color: var(--color-brown);
  cursor: pointer;
}
@media only screen and (max-width: 475px) {
  .sneakers-basket__checkout {
    padding: 22px 90px;
  }
}

.carousel-product__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.carousel-product__img-box {
  position: relative;
  max-width: 445px;
  width: 118%;
  height: 445px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.carousel-product__img-box:not(:last-child) {
  margin-bottom: 32px;
}
.carousel-product__img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}
.carousel-product__img-item {
  transition: var(--transition);
  position: absolute;
  width: 100%;
  height: 100%;
}
.carousel-product__img-slides {
  opacity: 1;
  width: 92%;
  height: 90%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 62em) {
  .carousel-product__img-slides {
    width: 93%;
    height: 100%;
    opacity: 0;
    transition: var(--transition);
  }
  .carousel-product__img-slides:hover {
    opacity: 1;
  }
}
.carousel-product__img-slides button {
  padding: 8px 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
@media only screen and (min-width: 62em) {
  .carousel-product__img-slides button {
    padding: 16px;
  }
}
.carousel-product__points {
  display: none;
}
@media only screen and (min-width: 62em) {
  .carousel-product__points {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-product__points > *:not(:last-child) {
    margin-right: 30px;
  }
}
.carousel-product__point {
  max-width: 90px;
  border: 2px solid transparent;
  border-radius: 12px;
  transition: var(--transition);
}
.carousel-product__point:hover {
  border: 2px solid var(--color-brown);
}
.carousel-product__point img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: var(--transition);
  cursor: pointer;
}
.carousel-product__point img:hover {
  opacity: 0.5;
}

.carousel-product__point-active {
  border: 2px solid var(--color-brown);
}
.carousel-product__point-active img {
  opacity: 0.5;
}

.carousel-modal {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-modal__closed {
  padding-right: 24px;
  margin-bottom: 24px;
  transition: var(--transition);
  color: var(--color-light);
  cursor: pointer;
}
.carousel-modal__closed:hover {
  color: var(--color-brown);
}

.basket__cart-button {
  background-color: var(--color-brown);
  border: none;
  border-radius: 10px;
  padding: 20px 74px;
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 10px 22px 0px rgba(255, 125, 26, 0.5);
  transition: var(--transition);
}
.basket__cart-button:hover {
  background-color: rgba(255, 125, 26, 0.5);
}
.basket__cart-button > *:not(:last-child) {
  margin-right: 16px;
}
@media only screen and (min-width: 48.5em) {
  .basket__cart-button {
    padding: 16px 77px;
  }
}

.cart-basket__boxs {
  position: absolute;
  width: 360px;
  min-height: 256px;
  top: 50px;
  left: -300px;
  z-index: 3;
  background-color: #fff;
  -webkit-box-shadow: -2px 10px 32px -10px rgba(34, 60, 80, 0.51);
  -moz-box-shadow: -2px 10px 32px -10px rgba(34, 60, 80, 0.51);
  box-shadow: -2px 10px 32px -10px rgba(34, 60, 80, 0.51);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
}
@media only screen and (max-width: 475px) {
  .cart-basket__boxs {
    max-width: 300px;
    left: -215px;
  }
}

.cart-basket__cart {
  width: 100%;
  padding: 28px 0 28px 24px;
  font-size: 12px;
  font-weight: 700;
  color: var(--color-dark);
  border-bottom: 1px solid var(--color-grey);
}

.cart-basket__box {
  width: 100%;
  height: 100%;
  padding: 28px 24px;
}

.cart-basket__item {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(40px);
  font-size: 14px;
  font-weight: 700;
  color: var(--color-grey-dark);
}

.count-wrapper {
  max-width: 277.08px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 23px;
  background-color: var(--color-grey);
  border-radius: 10px;
}
@media only screen and (min-width: 48.5em) {
  .count-wrapper {
    max-width: 156px;
    padding: 3px 16px;
  }
}
.count-wrapper > *:not(:last-child) {
  margin-right: 70px;
}
@media only screen and (min-width: 48.5em) {
  .count-wrapper > *:not(:last-child) {
    margin-right: 30px;
  }
}
.count-wrapper__decrement {
  border: none;
  padding: 22px 15px;
  background-color: transparent;
  cursor: pointer;
}
.count-wrapper__decrement img {
  max-width: 12px;
}
.count-wrapper__increment {
  border: none;
  padding: 22px 15px;
  background-color: transparent;
  cursor: pointer;
}
.count-wrapper__increment img {
  max-width: 12px;
}
.count-wrapper__value {
  color: var(--color-dark);
}

.price-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-count__heading {
  font-weight: 700;
  font-size: 22px;
  color: var(--color-dark);
  display: flex;
  align-items: center;
}
.price-count__prsetenge {
  margin-left: 17px;
  display: inline-block;
  font-size: 16px;
  padding: 0px 9px;
  border-radius: 7px;
  background-color: var(--color-light);
  color: var(--color-brown);
}
.price-count__price-old {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-grey-darkey);
  position: relative;
}
.price-count__price-old::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 12px;
  left: 0;
  background-color: var(--color-grey-darkey);
}

.info-product {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.info-product > *:not(:last-child) {
  margin-bottom: 12px;
}
@media only screen and (min-width: 48.5em) {
  .info-product {
    margin-bottom: 24px;
  }
}
.info-product__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-brown);
}
.info-product__heading {
  font-weight: 700;
  font-size: 22px;
  color: var(--color-dark);
}
.info-product__text {
  max-width: 308px;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-grey-darkey);
}

.cart-count__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.cart-count__container > *:not(:last-child) {
  margin-bottom: 16px;
}
@media only screen and (min-width: 48.5em) {
  .cart-count__container {
    flex-direction: row;
  }
  .cart-count__container > *:not(:last-child) {
    margin-bottom: 0;
    margin-right: 16px;
  }
}

/*# sourceMappingURL=main.css.map */
