// BURGER
.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--transition);
  cursor: pointer;  

  @include breakpoint-up($breakpoint-medium) {
    display: none;
  }

  &__span {
    width: 16px;
    height: 3px;
    background-color: var(--color-grey-dark);
    transition: var(--transition);
  }
  &__span:not(:last-child) {
    margin-bottom: 3px;
  }
}
.burger.burger-active {
  position: fixed;
  z-index: 10;

  & .burger__span:nth-child(1) {
    transform: rotate(-45deg) translateY(8px);
  }
  & .burger__span:nth-child(2) {
    transform: scale(0);
  }
  & .burger__span:nth-child(3) {
    transform: rotate(45deg) translateY(-8px);
  }
}

