@use "sass:color";
.carousel-product {

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // margin: -25px;
  }
  &__img-box {
    position: relative;
    max-width: 445px;
    width: 118%;
    height: 445px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__img-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
  }
  &__img-item {
    transition: var(--transition);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__img-slides {
    opacity: 1;
    width: 92%;
    height: 90%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint-up($breakpoint-large) {
      width: 93%;
      height: 100%;
      opacity: 0;
      transition: var(--transition);
    
      &:hover {
        opacity: 1;
      }
    }
  }
  &__img-slides button{
    padding: 8px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    
    @include breakpoint-up($breakpoint-large) {
      padding: 16px;
    }
  }
  &__points {
    display: none;
    @include breakpoint-up($breakpoint-large) {
      display: flex;
      justify-content: center;
      align-items: center;
  
      &> *:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  &__point {
    max-width: 90px;
    border: 2px solid transparent;
    border-radius: 12px;
    transition: var(--transition);
    &:hover {
      border: 2px solid var(--color-brown);
    }

  }
  &__point img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: var(--transition);
    cursor: pointer;
    
    &:hover {
      opacity: .5;
    }
  }

}

.carousel-product__point-active {
  border: 2px solid var(--color-brown);
  
  & img {
    opacity: .5;
  }
}