.count-wrapper {
  max-width: 277.08px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 23px;
  background-color: var(--color-grey);
  border-radius: 10px;
  @include breakpoint-up($breakpoint-medium) {
    max-width: 156px;
    padding: 3px 16px; 
  }

  & > *:not(:last-child) {
    margin-right: 70px;
    @include breakpoint-up($breakpoint-medium) {
      margin-right: 30px;
    }
  }
  &__decrement {
    border: none;
    padding: 22px 15px;
    background-color: transparent;
    cursor: pointer; 
    & img {
      max-width: 12px;
    }
  }
  &__increment {
    border: none;
    padding: 22px 15px;
    background-color: transparent;
    cursor: pointer;
    & img {
      max-width: 12px;
    }
  }
  &__value {
    color: var(--color-dark);
  }
}
