@use "sass:color";
// HEADER
.header {
  padding-top: 20px;
  padding-bottom: 27px;
  
  @include breakpoint-up($breakpoint-medium) {
    padding-top: 28px;
    padding-bottom: 35px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
  @include breakpoint-up($breakpoint-medium) {
    &::after {
      content: "";
      position: absolute;
      bottom: -35px;
      width: 96%;
      height: 1px;
      background-color: var(--color-grey-darkey);
    }
  }
}

.header__img {
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-logo {
    margin-left: 22px;
    margin-right: 22px;
    
    @include breakpoint-up($breakpoint-medium) {
      margin-left: 46px;
      margin-right: 46px;
    }
  }
  @include breakpoint-up($breakpoint-medium) {
    &-logo {
      width: 138px;
      height: 20px;
      cursor: pointer;
    }
    &-basket {
      width: 22px;
      height: 20px;
      cursor: pointer;
    }
    &-avatar {
      width: 50px;
      height: 50px;
      cursor: pointer;
      transition: var(--transition);
      border-radius: 50%;
      border: 2px solid transparent;
      &:hover {
        border: 2px solid color.scale($color: $color-brown, $alpha: -50%);
      }
    }
  }
}
.header__left {
  position: relative;
}
.header__right,
.header__left {
  display: flex;
  align-items: center;
}
.header__right > *:not(:last-child) {
  margin-right: 22px;
  @include breakpoint-up($breakpoint-medium) {
    margin-right: 46px;
  }
}

