.info-product {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 24px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color-brown);
  }
  &__heading {
    font-weight: 700;
    font-size: 22px;
    color: var(--color-dark);
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-grey-darkey);
  }



}

.info-product__title {}

.info-product__heading {}

.info-product__text {}