@use "sass:color";
// NAV-BAR
.nav {
  @include breakpoint-down(768px) {
  position: fixed;
  z-index: 5;
  left: -100%;
  top: 0;
  transition: var(--transition);
  }
}
.nav.nav-active {
  left: 0;
  width: 60%;
  height: 100%;
  background-color: #fff;
  padding-top: 96px;
  padding-left: 18px;
}

.nav__list {
  list-style: none;
  padding-left: 0;
  visibility: hidden;
  transition: var(--transition);
  
  @include breakpoint-up(768px) { 
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }
  
  & > *:not(:last-child) {
    margin-right: 17px;
  }
  @include breakpoint-up($breakpoint-large) {
    &>*:not(:last-child) {
      margin-right: 35px;
    }
  }
}
.nav.nav-active .nav__list {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  align-items: start;
  background-color: transparent;
  visibility: visible;
  
  &> *:not(:last-child) {
    margin-right: 0;
    margin-bottom: 35px;
  }

}
.nav.nav-active .nav__link {
  color: var(--color-dark);
  font-weight: 700;
}