.price-count {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__heading {
    font-weight: 700;
    font-size: 22px;
    color: var(--color-dark);
  }
  
  &__prsetenge {
    margin-left: 17px;
    display: inline-block;
    font-size: 16px;
    padding: 6px 9px;
    border-radius: 8px;
    background-color: var(--color-light);
    color: var(--color-brown);
  }

  &__price-old {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-grey-darkey);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 10px;
      left: 0;
      background-color: var(--color-grey-darkey);
    }
  }

}

.price-count__heading {}

.price-count__prsetenge {}

.price-count__price-old {}